# Virtual environment
venv/
__pycache__/
*.pyc

# Environment variables (kredensial database)
.env

# Model & data (file besar, tidak perlu di-commit ke Git)
models/*.keras
models/*.pkl
data/raw/
data/processed/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db