pandas
numpy
scikit-learn
tensorflow
nltk
Sastrawi
matplotlib
seaborn
imbalanced-learn
streamlit
fastapi
uvicorn
python-dotenv
joblib
tqdm
wordcloud
keras-tuner
tensorboard
uvicorn
fastapi[standard]
pytest